.CountryTable {
  /* background-color: #ff00008c; */
  display: flex;
  flex-direction: column;
}

.title {
  color: black;
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  align-self: flex-start;

}

.horizontal_container {
  height: 40px;
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.searchbar {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.search-icon {
  width: 24px;
  height: 24px;
  align-self: center;
  position: absolute;
  margin-left: 24px;
}

.search-input {
  background-color: #fdfdfd;
  border-radius: 8px;
  border-width: 2px ;
  border-style: solid;
  border-color: #efefef;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: Inter;
  padding-left: 60px;
  width: 100%;
}

.search-input::placeholder {
  color: #8a8c90
}

.search-input:focus {
  outline: 0px;
}

.button {
  width: 78px;
  background-color: #15172a;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
}

.button:hover {
  background-color: #2e2f47;
}

